<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Five Star Rating Example</title>
    <style>
        .rating {
            display: inline-block;
            unicode-bidi: bidi-override;
            color: #ddd;
            font-size: 24px;
            height: 1em;
            width: 5em;
            margin: 0;
            position: relative;
        }

        .rating-star {
            display: inline-block;
            position: absolute;
            overflow: hidden;
            color: #f8d32b;
        }

        .rating-star:before {
            content: "★";
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h3>Five Star Rating Example</h3>
    <div class="rating">
        <div class="rating-star" style="width: 100%;"></div>
        
    </div>
    <div class="rating">
      <div class="rating-star" style="width: 100%;"></div>
      
  </div>
  <div class="rating">
    <div class="rating-star" style="width: 100%;"></div>
    
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>