<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Five Star Rating Example</title>
    <style>
        .rating {
            display: inline-block;
            unicode-bidi: bidi-override;
            color: #ddd;
            font-size: 24px;
            height: 1em;
            width: 5em;
            margin: 0;
            position: relative;
        }

        .rating-star {
            display: inline-block;
            position: absolute;
            overflow: hidden;
            color: #f8d32b;
        }

        .rating-star:before {
            content: "★";
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h3>Five Star Rating Example</h3>
    <div class="rating">
        <div class="rating-star" style="width: 100%;"></div>
        
    </div>
    <div class="rating">
      <div class="rating-star" style="width: 100%;"></div>
      
  </div>
  <div class="rating">
    <div class="rating-star" style="width: 100%;"></div>
    
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


<!-- reviews mobia  -->

<div id="reviews" data-aos="fade-up"  >
  <div class="row mt-4" >
    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-weight: bolder;">
      <h2 style="font-weight: bold;">What Clients Say</h2>
    </div>
  </div>

  <div class="row" style="background: linear-gradient(to top, red, white);height:400px;">
    <div class="col-sm-4" >
      google review
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="owl-carousel owl-theme owl_views58">
      
          <div class="item mb-4">
            <div style="background-color: white;">
              <div class="row pt-3">
                <div class="col-sm-6 pl-3">
                  <img src="https://lh3.googleusercontent.com/a/ALm5wu2oof0rA06j6dAMLxEj2RHgbn2JUup-XDgcffwm=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback" style="width: 50px;">
                </div>
                <div class="col-sm-8">
                  <h5 class="customer-name">
                    Binu Binu</h5>
                    <p style="font-size: 10px;">2022-11-21</p>
                </div>
              </div>
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  
                  <span onclick="gfg(1)" 
                  class="star">★ 
                  </span> 
                  <span onclick="gfg(2)" 
                        class="star">★ 
                  </span> 
                  <span onclick="gfg(3)" 
                        class="star">★ 
                  </span> 
                  <span onclick="gfg(4)" 
                        class="star">★ 
                  </span> 
                  <span onclick="gfg(5)" 
                        class="star">★ 
                  </span> 
            
            
                
                </div>
              </div>
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <p>Always my shop in malieakal, thanks mr saheer,</p>
                </div>
              </div>
            </div>
          </div>
          
          <!--  -->  
        </div>

      </div>
    </div>
    
    
  </div>
  
</div> 



<section id="owl_rev">
  <div class="customer-feedback mt-5 pt-5">
    <div class=" text-center">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8" style="margin: auto;">
          <div>
            <h2 class="section-title">What Clients Say</h2>
          </div>
        </div><!-- /End col -->
      </div><!-- /End row -->
      <a href="https://www.google.com/maps/place/Malieakal+Electronics+(Kollam)/@8.8912409,76.3025057,11z/data=!4m9!1m2!2m1!1smalieakal+electronics!3m5!1s0x3b05fc4fc5db81cd:0x14490dc4c5866323!8m2!3d8.8912409!4d76.5826571!15sChVtYWxpZWFrYWwgZWxlY3Ryb25pY3MiA4gBAVoXIhVtYWxpZWFrYWwgZWxlY3Ryb25pY3OSARFlbGVjdHJvbmljc19zdG9yZQ" class="stretched-link" style="text-decoration: none; color: black;">

      <div class="row">
        <div class="col-md-8  col-sm-12" style="margin: 0 auto;">
          <div class="owl-carousel feedback-slider">

            <!-- slider item -->
            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a/ALm5wu2oof0rA06j6dAMLxEj2RHgbn2JUup-XDgcffwm=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">
                Binu Binu</h3>
              <p>Good service support Super world cup offer purchased by sony led thanks vineesh for your support</p>
              <span class="light-bg customer-rating" data-rating="5">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>
            <!-- /slider item -->

            <!-- slider item -->
            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a/ALm5wu2Gko302GIO4_aYxjrgWEjbZLe_8WqGV-r9g7Bj=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">Jerald Jerald</h3>
              <p>I purchased sony led from malieakal santhana, muneer good dealings</p>
              <span class="light-bg customer-rating" data-rating="4">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>
            <!-- /slider item -->

            <!-- slider item -->
            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a-/ACNPEu-YDNCkDSlVepvS2wxjRNhepF2-itpgeFOBUrgZ=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">Sofiya Sajan</h3>
              <p>Purchased a samsung led tv thanks to Vishnu to support us</p>
              <span class="light-bg customer-rating" data-rating="5">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>

            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a/ALm5wu24RYh2rL-zYDqjXp2he7WqYxiXLcf3UHzoeCpz=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">
                Rincy Roshni134</h3>
              <p>Always my shop in malieakal, thanks mr saheer,</p>
              <span class="light-bg customer-rating" data-rating="5">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>

            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a-/ACNPEu8EW_2GQ6zxwm3O1k_r6K4BCDE6DEJV4w9ThXe-jQ=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">
                Noble Antony Norbert </h3>
              <p>It's a good shop furniture and home appliances</p>
              <span class="light-bg customer-rating" data-rating="5">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>

            <div class="feedback-slider-item">
              <img src="https://lh3.googleusercontent.com/a-/ACNPEu_eiOYNSPueIOHYClC-2mxejBhISH1uxqJFv6l-=s120-c-c-rp-w64-h64-mo-br100" class="center-block img-circle" alt="Customer Feedback">
              <h3 class="customer-name">
                Sreejith S</h3>
              <p>Purchased a led tv thanks to Vishnu for good service</p>
              <span class="light-bg customer-rating" data-rating="5">
                5
                <i class="fa fa-star"></i>
              </span>
            </div>
            <!-- /slider item -->
            
          </div><!-- /End feedback-slider -->

          
          <!-- /side thumbnail -->

        </div><!-- /End col -->
      </div><!-- /End row -->
      </a>
    </div><!-- /End container -->
  </div><!-- /End customer-feedback -->

  
</section>